{% extends 'base.html' %}

{% block localcss %}
{#    <link rel="stylesheet" href="apptrak/jobapps/static/sidebar.css">#}
    <style>
        table{
            width: 80%;
            border-bottom: gray;
            border-width: 2px;
        }
        td{
           padding: 1em;
        }
        #sidebar {
            width: 12%;
            padding: 1em;
            position: fixed;
            top: 3.5em;
            left: 0;
            height: 100vh;
            background: #29648A;
            color: #fff;
            transition: all 0.3s;
        }
        #content{
            margin: 2em;
            float: right;
            width: 85%;
        }
       #edit_link {
            text-align: right;
            float: right;
       }
        .archive{
            float: right;
        }
    </style>
{% endblock %}

{% block title %} Current Apps {% endblock %}
{% block body %}

<div class="wrapper">
    <!-- Sidebar to filter -->
    <nav class="sidebar-header" id="sort-bar">
            <ul class="nav flex-column flex-sm-column" id="sidebar">
                <form method="post">
                    <li>
                        Filter by:
                    </li>
                    <li class="nav-item">
                        <input class="sort_by" id="called_back"  name="filter_field" type="checkbox" value="called_back"> Responded</input>
                      </li>
                      <li class="nav-item">
                          <input class="sort_by" id="interview" name="filter_field" type="checkbox" value="interview"> Interview</input>
                      </li>
                      <li>
                          <input class="sort_by" id="assignment" name="filter_field" type="checkbox" value="assignment"> Assignments</input>
                      </li>
                      <li>
                          <input class="sort_by" id="archived" name="filter_field" type="checkbox" value="archived"> Archived</input>
                      </li>
                      <li>
                          <input type="submit" id="submit_button">
                      </li>
                </form>
            </ul>
        </nav>
    </div>

    <!--Main content -->
    <div id="content">
        <h2>Current Apps</h2>
        {% if applications %}
            <p>Open applications:</p>
            <div class="accordion" id="accordionExample">
            {% for item in applications %}
                {% if not item.archived %}
                    <div id="sorted_app_{{ loop.index0 }}">
                        <div class="filtered_data">
                            {% with item = item %}
                            {% include 'application_card.html' %}
                            {% endwith %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            </div>
         {% else %}
            <p> You have sent no applications</p>
        {% endif %}
    </div>
</div>

    <script>
    function collect_date(id, field){
        console.log('data being collected')
        let date = window.prompt("Congrats! Enter the date and time of you interview (MM/DD HH:MM")
        edit_data(id, field, date)
    }


    function edit_data(id, field, item_date){
        $.ajax({
        type : 'POST',
        url : "{{url_for('jobapps.edit_app') }}",
        data : JSON.stringify([id, field, item_date]),
        contentType: 'application/json;charset=UTF-8',
        success: function(response) {}
        });
    }


    function archive(job_id){
        $.ajax({
        type : 'POST',
        url : "{{url_for('jobapps.archive') }}",
        data : JSON.stringify([job_id]),
        contentType: 'application/json;charset=UTF-8',
        success: function(response) {}
        });
    }

    </script>
{% endblock %}