{% extends 'base.html' %}

{% block localcss %}
    <link rel="stylesheet" href="apptrak/jobapps/static/sidebar.css">
    <style>
        table{
            width: 80%;
            border-bottom: gray;
            border-width: 2px;
        }
        td{
           padding: 1em;
        }
        #sidebar {
            width: 12%;
            padding: 1em;
            position: fixed;
            top: 3.5em;
            left: 0;
            height: 100vh;
            background: #29648A;
            color: #fff;
            transition: all 0.3s;
        }
        #content{
            margin: 2em;
            float: right;
            width: 85%;
        }
       #edit_link {
            text-align: right;
            float: right;
       }
        #archive{
            float: right;
        }
    </style>
{% endblock %}

{% block title %} Current Apps {% endblock %}
{% block body %}

<div class="wrapper">
    <!-- Sidebar to filter -->
    <nav class="sidebar-header">
            <ul class="nav flex-column flex-sm-column" id="sidebar">
                <li>
                    Sort by:
                </li>
                <li class="nav-item">
                    <input type="checkbox" onclick="filter('date')"> Date</input>
                </li>
                <li class="nav-item">
                    <input type="checkbox" onclick="filter('called_back')"> Responded</input>
                  </li>
                  <li class="nav-item">
                      <input type="checkbox" onclick="filter('interview')"> Interview</input>
                  </li>
                  <li>
                      <input type="checkbox" onclick="filter('assignment')"> Assignments</input>
                  </li>
                  <li>
                      <input type="checkbox" onclick="filter('top_job')"> Top Job</input>
                  </li>
                  <li>
                      <input type="checkbox" onclick="filter('archived')"> Archived</input>
                  </li>
            </ul>
        </nav>
    </div>

    <!--Main content -->
    <div id="content">
        <h2>Current Apps</h2>
        {% if applications %}
            <p>Open applications:</p>
            <div class="accordion" id="accordionExample">
            {% for item in applications %}
                <div class="card">
                    <div class="card-header" id="heading{{ loop.index }}"> <!-- How to make accordion feature work? -->
                        <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        {{ item.position }}, {{ item.company }}
                        </button>
                        </h2>
                        <a href="#" class="badge badge-info" id="edit_link">Edit Info</a>
                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="heading{{ loop.index }}" data-parent="#accordionExample">
                        <div class="card-body">
                        <form method="post" action="current-apps">
                        <table>
                        <tr>
                            <td>Location: </td>
                            <td>
                                {{ item.location }}
                            </td>
                        </tr>
                        <tr>
                            <td> Heard Back?</td>
                            <td>
                                {% if item.called_back %}
                                    Called back!
                                {% else %}
                                    No response
                                {% endif %}
                            </td>
                            <td class="edit-db">
                             {% if not item.called_back %}
                                <input type="checkbox" name="call_back" value="{{ item.id }}" onchange="edit_data({{ item.id }}, 'called_back')"> Heard back!</input>
                             {% else %}
                                 Congrats!
                             {% endif %}
                            </td>
                        <tr>
                            <td>Interview?</td>
                            <td>
                                {% if item.interview %}
                                    Interview scheduled!
                                {% else %}
                                    No interview scheduled
                                {% endif %}
                            </td>
                            <td>
                                {% if not item.interview %}
                                <input type="checkbox" name="call_back" value="{{ item.id }}" onchange="collect_date({{ item.id }}, 'interview')"> Invited to interview!</input>
                                {% else %}
                                <p>Interview date: {{ item.interview_date }}</p>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Assignment?</td>
                            <td>
                                {% if item.assignment %}
                                    Yes! Due {{ item.assignment_date }}
                                {% else %}
                                    Not Yet
                                {% endif %}
                            </td>
                            <td>
                             {% if not item.assignment %}
                                <input type="checkbox" name="call_back" value="{{ item.id }}" onchange="collect_date({{ item.id }}, 'assignment')"> Assignment received!</input>
                             {% else %}
                                <p>Assignment due: {{ item.assignment_date }}</p>
                             {% endif %}
                            </td>
                        </tr>
                        </table>
                            Job Post: <a href="{{ item.url }}" target="_blank">{{ item.url }}</a>
                            <button type="button" class="btn btn-outline-secondary" id="archive" onclick="archive({{ item.id }})">X</button>
                        </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
         {% else %}
            <p> You have sent no applications</p>
        {% endif %}
    </div>
</div>


    <script>

    function collect_date(id, field){
        let date = window.prompt("Congrats! Enter the date and time of you interview (MM/DD HH:MM")
        edit_data(id, field, date)
    }
    {#$("#edit-db").append('<input type=date>' +#}     {# code to add element to html for cleaner display in the future #}
    {#    '<input type=time>');#}


    function archive(id){
        $.ajax({
        type : 'POST',
        url : "{{url_for('jobapps.edit_app') }}",
        data : JSON.stringify([id, field, item_date]),
        contentType: 'application/json;charset=UTF-8',
        success: function(response) {}
        });
    }

    function edit_data(id, field, item_date){
        $.ajax({
        type : 'POST',
        url : "{{url_for('jobapps.edit_app') }}",
        data : JSON.stringify([id, field, item_date]),
        contentType: 'application/json;charset=UTF-8',
        success: function(response) {}
        });
    }

    {#function filter(field) {#}
    {#     let applications = {{ applications }};#}
         {#console.log(data)#}
         {#console.log('filtering');#}
    {#    return applications#}


    </script>
{% endblock %}