{% extends 'base.html' %}

{% block title %} Add App{% endblock %}

{% block body %}

    <div class="card_wrapper">
    <h2 style="justify-content: center">Upload Apps</h2>
    </div>

    <form action="/add-app" method="post">
        <div class="card_wrapper">
            <div class="card d-flex justify-content-center" style="width: 28rem;">
                <div class="card-header">
                    <b>Where did you apply?</b>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ form.url.label }} : {{ form.url() }}</li>
                    <li class="list-group-item">{{ form.company.label }} : {{ form.company() }}</li>
                    <li class="list-group-item">{{ form.position.label }} : {{ form.position() }}</li>
                    <li class="list-group-item">{{ form.location.label }} : {{ form.location() }}</li>
                    <li class="list-group-item">{{ form.contact.label }} : {{ form.contact() }}</li>
                    <li class="list-group-item">{{ form.called_back.label }} : {{ form.called_back() }}</li>
                    <li class="list-group-item">{{ form.interview.label }} : {{ form.interview() }}</li>
                    <li class="list-group-item">{{ form.interview_date.label }} : {{ form.interview_date() }}</li>
                    <li class="list-group-item">{{ form.assignment.label }} : {{ form.assignment() }}</li>
                    <li class="list-group-item">{{ form.assignment_date.label }} : {{ form.assignment_date() }}</li>
                    <li class="list-group-item">{{ form.top_job.label }} : {{ form.top_job() }}</li>
                    <li class="list-group-item">{{ form.submit() }} </li>
                 </ul>
             </div>
        </div>
    </form>







{% endblock %}