{% extends 'base.html' %}

{% block title %}Reset Password{% endblock %}

{% block body %}

<div class="card_wrapper">
    <div class="card d-flex justify-content-center" style="width: 18rem;">
        <div class="card-header">
            <b>Hi {{ user.name }}! Enter your new password below</b>
        </div>
        <ul class="list-group list-group-flush">
            <form method="post">
            <li class="list-group-item">{{ form.password.label }}{{ form.password() }}</li>
            <li class="list-group-item">{{ form.confirm_password.label }}{{ form.confirm_password() }}</li>
            <li class="list-group-item">{{ form.submit() }}</li>
            </form>
        </ul>
    </div>
</div>

{% endblock %}